$font-family-sans-serif: "Noto Sans";
$headings-font-family: "Bree Serif";

$font-weight-light: 400;      // Noto Sans doesn't have a 300 weight
$headings-font-weight: 400;   // Bree Serif has a single weight

// No rounded corners
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;